.highlight{
    background-color: green;
}
.breadcrumb{
    background-color: green;
}
#er{
    display: none;
}

#xs{
    display: none;
}
ul.nav.navbar-nav li a{
    color: yellow !important;
}
ul.nav.navbar-nav li a:hover{
    color: white !important;
}
span.highlight{
    color: yellow !important;
}