


@media (max-width: 699px) {
    .navw{
        max-width: 180px;
    }
    .imgf{
        width: 150%;
        height: auto;
    }
    .logo{
        width: auto;
        height: 400px;
        background-color: #fff;
    }
}

.imgf{
    max-height: 300px;
    overflow-y: hidden;
    height: auto;
    width: 100%;
    border-radius: 10px;
}

.logo{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.navw{
    width: 280px;
}